/*------------------------------------------------------------------
[Admin styles]
-------------------------------------------------------------------*/
.wpbh_pro > a.wpbh-pro {
	color: green;
	font-weight: bold;
}

li#toplevel_page_wp-blocks-hub .wpbh-activate-pro {
	color: greenyellow;
}